@import '_setting.scss';
.baseTableItem {
    cursor: pointer;
    height: 50px;
    background-color: #EEEEEE;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 20px;
    min-width: 180px;
    &:hover {
        color: white;
        background-color: $hover-color;
    }
}
.baseTableItem--active {
    color: white !important;
    background-color: $hover-color !important;
}