.verify-wrapper {
    text-align: center;
    padding: 40px 0;
    background: #EBF0F5;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
        
        font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
        font-weight: 900;
        font-size: 40px;
        margin-bottom: 10px;
      }
      p {
        color: #404F5E;
        font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
        font-size:20px;
        margin: 0;
      }
    i {
      color: #9ABC66;
      font-size: 100px;
      line-height: 200px;
      margin-left:-15px;
    }
    .icon-fail {
      color: red;
    }
    .card {
      background: white;
      padding: 60px;
      border-radius: 4px;
      box-shadow: 0 2px 3px #C8D0D8;
      display: inline-block;
      margin: 0 auto;
      &-icon {
        border-radius:200px; 
        height:200px; 
        width:200px; 
        margin:0 auto;
        &--success {
            background: #F8FAF5; 
        }
        &--fail {
            background: #e9b4b4;
        }
      }
    }
    button {
        margin-top: 20px;
    }
    .h1--success {
        color: #88B04B;
    }
    .h1--fail {
        color: red;
    }
}
