@import '_setting.scss';
.timeTableItem {
    cursor: pointer;
    height: 50px;
    background-color: #1e4d093b;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 135px;
    &:hover {
        color: white;
        background-color: $hover-color;
    }
}