.search-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
}

.search-input-container {
  flex: 1;
}

.search-input {
  width: 100%;
  padding: 8px;
  border: none;
  outline: none;
  background-color: transparent;
}

.search-button-container {
  border-color: #1890ff;
  background: #1890ff;
}

.search-button-container :hover {
  border-color: #40a9ff;
  background: #40a9ff;
}

.search-button {
  width: 40px;
  padding: 8px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.search-button i {
  color: #fff;
}

.filter-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 16px;
}

.filter-item-label {
  font-size: 13px;
  font-weight: 700;
  color: #6a6a6a;
}

.filter-item .hidden {
  opacity: 0;
}

a {
  color: initial;
}