@import '_setting.scss';
.revenueManagement {
    &__container {
        background-color: #FFFFFF;
        padding: 20px 26px;
        display: flex;
        flex-direction: column;
        header {
            font-weight: 500;
            font-size: 24px;
            position: relative;
            padding-left: 120px;
            margin-bottom: 10px;
            &::before {
                position: absolute;
                content: "";
                display: block;
                height: 2px;
                width: 100px;
                background-color: #F8F8F8;
                top: 50%;
                left: 0;
            }
            &::after {
                position: absolute;
                content: "";
                display: block;
                height: 2px;
                width: calc(100% - 340px);
                background-color: #F8F8F8;
                top: 50%;
                left: 340px;
            }
        }
        table {
            background-color: white;
            border-collapse: collapse; 
            width: 100%;
            margin-bottom: 20px;
            padding: 0 20px;
        }
        tbody {
            overflow-y: scroll;
        }
    
        th {
            padding: 16px 4px;
            padding-left: 10px;
            background-color: #FAFAFA;
            text-align: left;
            font-weight: 500;
            border-bottom: 2px solid #FCFCFC;
            border-right: 2px solid #F2F2F2;
        }
        tr {
            border-bottom: 2px solid #F5F5F5;
        }
        td {
            padding: 10px 0;
            padding-left: 10px;
            // &:last-child {
            //     color: $primary-color;
            //     .icon-trash {
            //         cursor: pointer;
            //     }
            // }
        }
    }
    &__action {
        display: flex;
        justify-content: space-between;
        align-items: center;
        span {
            font-weight: 500;
            color: red;
            margin-right: 10px;
        }
    }
}
